:root{

    /* -------------------colors */
    --yellow-soft: #ffdc8c;
    --yellow: #eebf53;
    --green-soft: #96e0aa;
    --green: #59b377;
    --green-hard: #368e53;
    --black: #262626;
    --gray1: #4c4c4c;
    --gray2: #a8a8a8;
    --gray3: #cccccc;
    --gray4: #f7f7f7;
    --white: #ffffff;

    /* -------------------font */
    --h1: 48px;
    --h2: 32px;
    --h3: 20px;
    --CTA: 16px;
    --p: 16px;
    --psmall: 14px;
    --detalle: 12px;

    /* ---- */

    --h1-line-spacing: 50px;
    --h2-line-spacing: 40px;
    --h3-line-spacing: 25px;
    --CTA-line-spacing: 22px;
    --p-line-spacing: 22px;
    --psmall-line-spacing: 20px;
    --detalle-line-spacing: 18px;    

    /* ---- */

    --extra-bold: 800;
    --bold: bold;
    --regular: normal;
    --light: 300;
}


@media (max-width: 1100px) {

    body{
        box-sizing: border-box;   
        overflow-x: hidden; 
    } 

    
    /* nav .container_nav .info_nav_right a{
        display: none;
    } */

    nav .menu_content{
        width: 80%;
        padding-top: 50px;
    }

    nav .menu_content .menu_icon_close img{
        top: -76px;
        right: 24px;
    }

    nav .active {
        transform: translateX(950px);
    }

    .hero{
        height: auto;
    }

    .hero .container_hero {
        width: 90%;
        padding-top: 50px;
    }

    .hero .container_hero img{
        width: 50%;
        height: auto;
    }

    .benefic {
        width: 90%;
        margin: 90px auto 90px auto;
    }

    .benefic .container_benefics {
        grid-template-rows: 0.5fr 1.5fr 1fr 2fr;
    }

    .benefic .container_benefics .item_benefic p{
        font-size: var(--psmall);
    }

    .steps .steps_container {
        width: 90%;
        padding-top: 90px;
    }

    .transport_type_container {
        width: 90%;
        margin: 90px auto 0 auto;
    }

    .transport_type_divisor {
        margin: 80px auto;
    }

    .our_tools_container {
        width: 90%;
    }

    .time_line .time_line_container {
        width: 90%;
    }

    .time_line .time_line_container .time_line_card {
        width: 150px;
        height: 260px;
    }

    .time_line .time_line_container .our_news {
        width: 90%;
    }

    .contact_container {
        width: 90%;
        margin-bottom: 80px;
    }

    .contact_container .contact_form_container {
        width: 62%;
        padding: 0 20px;
    }

    .contact_container .contact_form_container form input {
        width: 90%;
    }

    .contact_container .contact_form_container p {
        width: 90%;
    }

    .contact_container .contact_form_container form .submit_contact {
        width: 95%;
    }

    .contact_container .contact_info_container {
        padding: 20px 20px;
    }

    .download_container {
        width: 90%;
    }

    .download_container > img {
        width: 40%;
    }

    footer .footer_container {
        width: 90%;
    }
}

 /* -------------- */

@media (max-width: 900px){

    .benefic .container_benefics .img_benefic_mean {
        margin-top: 70px;
    }

    .benefic .container_benefics {
        grid-template-columns: 1fr 0.5fr 1fr;
    }

    .transport_type_container .transport_type_info_list {
        width: 40%;
    }

    .transport_type_container .transport_type_info_list .transport_type_list ul {
        padding-right: 20px;
    }

    .transport_type_container .transport_type_content_container {
        padding-left: 35px;
        padding-top: 0;
    }

    .transport_type_container .transport_type_info_list .transport_type_list {
        display: block;
        height: 300px;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    .transport_type_container .transport_type_info_list .transport_type_list ul {
        padding-right: 0;
    }

    .transport_type_container .transport_type_info_list .transport_type_list li {
        margin-bottom: 0;
    }

    .transport_type_container .transport_type_info_list .transport_type_list button {
        padding: 8px 0;
    }

    .transport_type_container .transport_type_info_list p {
        width: 100%;
    }

    .time_line .time_line_container .time_line_card h2 {
        font-size: 30px;
    }

    .time_line .time_line_container .time_line_card {
        width: 129px;
        height: 239px;
    }
}

 /* -------------- */

 @media (max-width: 768px){
    .hero .container_hero {
        width: 95%;
    }

    .hero .container_hero .container_info_hero h1 {
        font-size: var(--h2);
        line-height: var(--h2-line-spacing);
    }

    .p_general {
        width: 70%;
    }

    .benefic {
        width: 95%;
    }

    .steps .steps_container {
        width: 95%;
    }

    .transport_type_container {
        width: 95%;
    }

    .transport_type_container .transport_type_content_container {
        padding-left: 24px;
    }

    .our_tools_container {
        width: 95%;
    }

    .time_line .time_line_container {
        width: 95%;
    }

    .time_line .time_line_container .our_news {
        width: 95%;
    }

    .time_line .time_line_container .our_news a img{
        width: 80%;
    }

    .contact_container {
        width: 95%;
    }

    .contact_container .contact_info_container > h3{
        margin: 0;
    }

    .contact_container .contact_info_container .contact_logo_container {
        margin-top: 20px;
    }

    .download_container {
        width: 95%;
    }

    .download_container .download_info_container a{
        width: 250px;
    }

    footer .footer_container .footer_menu ul {
        display: none;
    }

    footer .footer_container .footer_menu {
        width: 10%;
    }

    footer .footer_container {
        width: 95%;
        justify-content: space-evenly;
    }

 }


 /* -------------- */

 @media (max-width: 425px){

    nav {
        box-shadow: 0px 1px 8px #0000001A;
    }

    .container_nav .info_nav_right a{
        display: none;
    }

    .container_nav .info_nav_right .line_divisor{
        display: none;
    }

    .hero .container_hero {
        flex-direction: column;
        text-align: center;
    }

    .hero .container_hero .container_info_hero {
        padding-right: 0px;
    }

    .hero .container_hero {
        padding-top: 114px;
    }

    .hero .container_hero .container_info_hero h1 {
        margin-bottom: 40px;
    }

    .hero .container_hero{
        position: relative;
        overflow-x: hidden;
        box-sizing: border-box;
        height: 700px;
        width: 100%;
    }

    .hero .container_hero .container_info_hero{
        width: 85%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
    }

    .hero .container_hero .container_info_hero button{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -230px;
        width: 110%;
    }

    .hero .container_hero .degradado_background {
        background: transparent linear-gradient(180deg, #FFDC8C 0%, #ffdc8c69 100%);
        width: 100%;
        height: 580px;
        position: absolute;
        z-index: 2;
    }

    .hero .container_hero img {
        width: 119%;
        position: absolute;
       bottom: 0px;
       z-index: 1;
    }

    .p_general {
        width: 100%;
    }

    .benefic .container_benefics{
        display: flex;
        flex-direction: column;
    }

    .benefic .container_benefics .item_benefic{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    .benefic .container_benefics .item_benefic p{
        width: 100%;
        padding-left: 16px;
    }

    .benefic .container_benefics .img_benefic_mean{
        margin: 20px 0;
    } 


    .cta{
        height: 520px;
        flex-direction: column;
        background-image: url("../img/img_banner_CTA_responsive.png");
        position: relative;
    }

    .cta .cta_container {
        justify-content: center;
        position: absolute;
        z-index: 2;
        top: 100px;

    }

    .cta .cta_info_container {
        width: 80%;
        text-align: center;
    }

    .cta .container_dark_back{
        background-color: var(--black);
        width: 100%;
        height: 520px;
        position: absolute;
        z-index: 1;
        opacity: 0.5;
    }

    .transport_type_container{
        flex-direction: column;
        position: relative;
    }

    .transport_type_container button{
        margin: 0;
    }

    .transport_type_container button:focus{
        background-color: transparent;

    }

    .transport_type_container .option_bike_hidden {
        display: flex; 
    }

    .transport_type_container .option_bike_hidden::after{
        content: url("../icon/icon_arrow_bottom.svg");
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }

    .transport_type_container .transport_type_info_list {
        width: 100%;
    }

    .transport_type_container .transport_type_info_list ul{
        list-style: none;
        padding: 0;
    }


    .transport_type_container .transport_type_info_list ul .transport_type_list {
        position: absolute;
        background-color: var(--white);
        border-radius: 10px;
        border: 1px solid var(--gray3);
        opacity: 0;
        display: none;
        width: 300px;
    }   

    .transport_type_container .transport_type_info_list ul li button:hover{
        color: var(--green-hard);
    }

    .transport_type_container .transport_type_info_list ul li:hover > .transport_type_list{
        opacity: 1; 
        display: block;
        transition: all 400ms; 
    }

    .transport_type_container .transport_type_info_list .transport_type_list li {
        text-align: start; 
        border-bottom: 1px solid var(--gray3);
        width: 90%;       
        margin: auto;
    }

    .transport_type_container .transport_type_content_container {
        padding-left: 0;
        width: 90%;
        margin-top: 8px;
    }

    .transport_type_container .transport_type_description img {
        margin: 0 auto;
    }

    .our_tools_container{
        flex-direction: column-reverse;
    }

    .our_tools_container .our_tools_img {
        width: 90%
    }

    .our_tools_container .our_tools_info {
        width: 100%;
    }

    .time_line .time_line_container .time_line_cards_container {
        flex-wrap: wrap;
    }

    .time_line .time_line_container .time_line_card {
        width: 40%;
        height: auto;
        padding-bottom: 12px;
        margin-bottom: 60px;
    }



    .contact_container, .download_container, footer{
        display: none;
    }

    

 }



 /* .hero, .benefic, .steps, .cta, .transport_type_container, .our_tools_container, .time_line, .contact_container, .download_container, footer{
    display: none;
} */